body.logged_out {
  background: $logged-out-body-bg;

  .logo                    { height: 64px; }
  #content_wrapper         { min-height: calc(100vh - #{$navbar-height}); }
  #login .list-inline-item { display: block; }
}
