<% content_for :title do %>
  <h3 class='mb-4 display-3 text-center'>
    <%= title t('active_admin.devise.reset_password.title') %>
  </h3>
<% end %>
<div id="login">

  <%= devise_error_messages! %>
  <%= active_admin_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, autocomplete: 'off' }) do |f|
    f.inputs card: false do
      f.input :email,
              label: false,
              placeholder: t("active_admin.devise.email.title"),
              input_html: {
                class: 'form-control form-control-lg'
              }
    end
    f.actions do
      f.action :submit, label: t('active_admin.devise.reset_password.submit'),
               button_html: {
                 value: t('active_admin.devise.reset_password.submit'),
                 class: 'btn-lg btn-block'
               }
    end
  end %>

  <hr>
  <div class='text-center'>
    <%= render partial: "active_admin/devise/shared/links" %>
  </div>
</div>
