%color-brick-bg {
  background-image: image-url('cb_stem/transparent_bg');
  background-repeat: repeat;
  background-size: 33.33%;
}

.color-brick {
  @extend %color-brick-bg;
  flex-shrink: 0;
  width: $color-brick-size;
  height: $color-brick-size;
  overflow: hidden;
  background-color: $white;
  border: 1px solid $hr-border-color;
  border-radius: $border-radius;

  &.lg {
    width: $color-brick-size * 1.5;
    height: $color-brick-size * 1.5;
  }
}
