.datepicker-dropdown {
  z-index: $zindex-datepicker !important;
  padding: $spacer / 2;
  border-color: $dropdown-border-color;
  @include box-shadow($dropdown-box-shadow);

  &::before,
  &::after {
    content: none;
  }

  table { display: block; }

  tbody tr td span {
    width: calc(100% / 3 - #{$spacer});
    height: 32px;
    margin: $spacer / 2;
    line-height: 32px;
  }

  tfoot {
    display: flex;
    flex-direction: row-reverse;
    padding-top: $spacer / 2;
    border-top: 1px solid $hr-border-color;

    tr {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    tr th {
      @extend .btn;
      @extend .btn-link;
      display: flex !important;
      align-items: center;
      width: auto;
    }
  }

  thead {
    tr:nth-child(1),
    tr:nth-child(2) {
      color: color-yiq($primary);
      background: $primary;

      th { padding: $spacer / 2 0; }
      th:hover { background: darken($secondary, 10%); }
    }

    th.dow {
      font-size: $small-font-size;
      color: $secondary;
      text-transform: uppercase;
    }
    tr th { border-radius: 0; }
    .aa-icon { line-height: $icon-size; }
  }

  tbody tr td {
    &:focus { outline: none !important; }

    &.day {
      position: relative;
      width: auto;
      height: auto;
      padding: $spacer / 2;
      background: transparent !important;
      border-color: transparent !important;

      &:not(.active):hover::before { @extend .bg-light; }

      &.active,
      &.active:hover,
      &.active:focus,
      &.active:focus:active {
        text-shadow: none !important;

        &::before {
          color: color-yiq($primary) !important;
          background: $primary !important;
          border-color: $primary !important;
        }
      }

      &.today,
      &.today:hover,
      &.today:focus,
      &.today:focus:active {
        &::before {
          color: color-yiq($gray-300) !important;
          background: $gray-300 !important;
        }
      }

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        content: '';
        @include transform(translate(-50%, -50%));
      }
    }

    .month,
    .year {
      &.active {
        color: color-yiq($primary) !important;
        text-shadow: none !important;
        background: $primary !important;
        border-color: $primary !important;
      }

      &.focused {
        color: color-yiq($body-bg);
        background: $body-bg;
      }

      &:not(.active):hover { @extend .bg-light; }
    }
  }

  .old { color: $text-muted !important; }
}
