#filter-backdrop {
  z-index: $z-index-filter - 1;
}

#filters {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: $z-index-filter;
  display: block !important;
  width: $filter-width;
  height: auto !important;
  background: $white;
  @include transition(transform 0.2s linear);
  @include transform(translateX(0));

  &:not(.show) {
    @include transform(translateX(100%));

    & + #filter-backdrop { display: none; }
  }

  &.show {
    @include box-shadow(0 2px 4px rgba(black, 0.2));
  }

  .card {
    background: transparent;
    border: 0;
    border-radius: 0;
  }

  .card-header {
    display: flex;
    align-items: center;
    height: $navbar-height;
    overflow: hidden;
    font-size: $font-size-lg;
    font-weight: $font-weight-normal;
    color: $white;
    white-space: nowrap;
    background: $primary;
    border-radius: 0;
  }

  .card-header,
  .card-body {
    padding: $spacer;
  }

  label { display: block; }

  .filter_form_field .row {
    position: relative;
    padding-bottom: $spacer;

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      width: calc(100% - #{$spacer});
      border-bottom: 1px solid $hr-border-color;
      content: '';
    }
  }
}
