// sass-lint:disable no-vendor-prefixes
#flashes {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: $z-index-flashes;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: $header-width;
  padding: $spacer;
  pointer-events: none;
  @include transition(transform 0.5s);
  @include transform(translateY(calc(100% + 100px)));

  &.open {
    @include transform(translateY(0));
  }

  .alert {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    margin: 0;
    color: $white;
    text-align: center;
    pointer-events: all;
    background: rgba($dark, 0.97);
    border-color: rgba(black, 0.3);
    border-radius: $border-radius-lg;
    @include box-shadow(0 0 54px rgba(0, 0, 0, 0.3));

    @each $color, $value in $theme-colors {
      &.alert-#{$color} {
        border-color: $value;
        .btn { color: $value; }
      }
    }
  }

  .flash-message {
    padding: $spacer;
    text-align: left;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
}
