// sass-lint:disable no-vendor-prefixes
#flashes {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-flashes;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacer;
  pointer-events: none;
  @include transition(transform 0.5s);
  @include transform(translateY(calc(100% + 100px)));

  &.open {
    @include transform(translateY(0));
  }

  .alert {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    margin: 0;
    color: color-yiq($dark);
    text-align: center;
    pointer-events: all;
    background: $dark;
    border-radius: $border-radius-lg;
    @include box-shadow($modal-content-box-shadow-xs);

    .btn { color: inherit; }
  }

  .flash-message {
    padding: $spacer;
    text-align: left;
    border-right: 1px solid rgba($black, 0.3);
  }
}
