@mixin formastic {
  .inputs ol {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .form-text { margin-top: $spacer / 2; }

  .actions {
    margin-bottom: 0;
    text-align: right;
  }

  .input {
    list-style: none;

    &.hidden { display: none; }

    label.control-label {
      display: block;
      text-transform: capitalize;
    }
  }

  .fragments-group {
    @extend .row;
    margin: 0 calc(-#{$spacer} / 4) !important;

    .fragment {
      @extend .col-md;
      padding: 0 $spacer / 4;
      margin-bottom: $spacer;
    }
  }

  .has_many_container {
    &.ui-sortable {
      .has-many-fields {
        padding-left: calc(30px + #{$spacer}) !important;
      }
    }

    .has_many_fields {
      @extend .card;
      @extend .border;
      @include box-shadow(none !important);

      margin-bottom: $spacer;

      &.ui-sortable-placeholder {
        z-index: 11;
        background: theme-color-level('primary', $alert-bg-level);
        border: 1px dashed $primary;
        border-radius: $border-radius;
        visibility: visible !important;
        @include box-shadow(none);
      }

      &.ui-sortable-helper {
        background: $card-bg;
        border: 1px solid $input-focus-border-color;
        transform-origin: center left;
        @include box-shadow($input-focus-box-shadow);
      }

      .columns > ol,
      & > ol {
        @extend .row;
      }

      & > ol { margin: 0; }

      .has-many-fields {
        @extend .col;
        padding: $card-spacer-y $card-spacer-x;
      }
      .has-many-actions > ol { height: 100%; }

      .has-many-handle {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 11;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        margin: 0;
        border-right: 1px solid $hr-border-color;
        border-radius: 0;

        .handle {
          @extend %ui-drag-handle;
        }
      }

      .has-many-actions {
        display: flex;
        justify-content: flex-end;

        .form-group:last-child { margin-bottom: 0; }
      }

      .has-many-actions,
      .has-many-handle {
        @extend .col-auto;
        padding: 0;

        .btn {
          display: flex;
          align-items: center;
          height: 100%;
          i { font-size: $icon-size; }
        }
      }
    }
  }
}
