%identifier {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-grow: 0;
  justify-content: flex-start;
  overflow: hidden;
  text-decoration: none !important;
  text-overflow: ellipsis;
  white-space: nowrap;

  .identifier-text {
    @extend .text-truncate;
    flex: 1;
  }
}

.table-item-identifier {
  @extend %identifier;

  &:hover .identifier-text { text-decoration: underline; }
}
