@mixin index-as-table {
  table.index_table {
    border-collapse: separate;
    border-spacing: 0 $spacer / 3;

    .col-selectable {
      width: $col-selectable-width;
      max-width: $col-selectable-width;
    }

    i.aa-icon { font-size: $icon-size; }

    th,
    td {
      padding: $spacer / 4 $table-cell-padding;
      vertical-align: middle !important;
    }

    th {
      font-size: $small-font-size;
      text-transform: uppercase;
      border: 0;

      &.sortable {
        &.sorted-desc,
        &.sorted-asc {
          a,
          &::after {
            color: $primary;
          }
        }

        &.sorted-desc::after { content: map-get($system-icons, 'sort-desc');}
        &.sorted-asc::after { content: map-get($system-icons, 'sort-asc');}

        &::after {
          @extend %aa-icon;
          margin-left: $spacer / 2;
          font-weight: 700;
          color: $text-muted;
          content: map-get($system-icons, 'sortable');
        }
      }

      a { color: $secondary; }
    }

    td {
      border: 0;
      border-color: $card-border-color;
      border-style: solid;
      border-width: 1px 0 !important;

      &:first-child {
        border-left-width: 1px !important;
        border-bottom-left-radius: $card-border-radius;
        border-top-left-radius: $card-border-radius;
      }

      &:last-child  {
        border-right-width: 1px !important;
        border-top-right-radius: $card-border-radius;
        border-bottom-right-radius: $card-border-radius;
      }
    }

    tbody {
      tr {
        height: 56px;
        background: $white;
        @include box-shadow($card-shadow);

        &.selected { background: theme-color-level('primary', $alert-bg-level); }

        &.ui-sortable-helper {
          @extend %ui-clone-helper;
        }
      }

      td {
        &:not(.col-actions) {
          max-width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
