#scopes {
  margin-bottom: 2rem;
  border-bottom: 1px solid $hr-border-color;

  li.nav-item {
    position: relative;

    &:not(:last-child) { margin-right: $spacer; }

    &.selected {
      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        background: $primary;
        content: '';
      }

      a { color: $primary; }
    }

    a {
      display: inline-flex;
      align-items: center;
      padding: $spacer / 2 0;
      color: $secondary;
    }

    span.badge { margin-left: $spacer / 2; }
  }
}
