#sidebar {
  width: 100%;
  padding: 0;
  background: $sidebar-bg;

  .sidebar_section {
    border: 0;
    border-radius: 0;

    &.transparent {
      background: transparent;
      @include box-shadow(none);
    }

    .card-header {
      padding-bottom: 0;
      border-radius: 0;
    }
  }

  .card:not(.sidebar_section) {
    .card-header,
    .card-body {
      padding-right: $spacer;
      padding-left: $spacer;
    }
  }

  @include media-breakpoint-up(lg) {
    width: $sidebar-width;
    border-left: 1px solid $hr-border-color;
  }
}
