.empty-state-icon {
  .st0 {
    fill: lighten($svg-color, $svg-color-adjustment);
  }

  .st1 {
    fill: none;
    stroke: $svg-color;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .st2 {
    fill: $white;
    stroke: $svg-color;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .st3 {
    fill: $white;
  }

  .st4 {
    fill: lighten($svg-color, $svg-color-adjustment);
    stroke: $svg-color;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

.sortable-handle {
  .st0 {
    fill: $text-muted;
  }
}

.folder-icon {
  .st0 { fill: lighten($svg-color, $svg-color-adjustment); }
  .st1 { fill: lighten($svg-color, ($svg-color-adjustment / 2)); }
}

.file-icon {
  .st0 { fill: $gray-300; }
  .st1 { fill: $secondary; }
}
