%thumbnail {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $thumbnail-size;
  height: $thumbnail-size;
  overflow: hidden;
  font-size: $icon-size;
  border-radius: $border-radius;

  &.circle { border-radius: 50%; }

  &.xs {
    width: $thumbnail-size-sm;
    height: $thumbnail-size-sm;
  }
}

.thumbnail-icon {
  @extend %thumbnail;
}

.thumbnail {
  @extend %thumbnail;
  color: $text-muted;
  background: $light;

  img {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    @include transform(translateX(-50%));
  }
}
