#title_bar {
  @include media-breakpoint-up($header-breakpoint) {
    left: $header-width;
  }

  border-bottom: 1px solid $hr-border-color;

  #breadcrumbs {
    .dropdown-item a::before {
      @extend %nc-icon;
      margin-right: $spacer / 2;
      vertical-align: middle;
      content: $icon-breadcrumb-link;
    }
  }

  #titlebar-content { flex: 1; }

  #titlebar_right {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  .site-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .btn {
    display: inline-flex;
    i.nc-icon { font-size: $icon-size; }
  }

  .action-btns {
    display: inline-flex;
    justify-content: flex-end;

    .dropdown-menu {
      right: 0;
      left: auto;
    }
  }

  .action_item {
    .nc-icon + .action-text { display: none; }
  }

  #mobile-menu {
    .dropdown-menu a {
      @extend .dropdown-item;
      .nc-icon { display: none; }
    }
  }
}
