#title_bar {
  z-index: $zindex-titlebar;
  height: $navbar-height;
  color: color-yiq($titlebar-bg);
  background: $titlebar-bg;
  @include box-shadow($titlebar-shadow);

  @include media-breakpoint-up($header-breakpoint) {
    left: $header-width;
  }

  @include media-breakpoint-up(lg) {
    padding-right: 1.25 * $spacer !important;
    padding-left: 1.25 * $spacer !important;
  }

  #titlebar-content { flex: 1; }

  #titlebar_right {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  .navbar-brand {
    width: 100%;

    .dropdown { width: 100%; }

    .dropdown-toggle {
      display: flex;
      align-items: center;
      flex-direction: row;
      width: 100%;

      i.aa-icon { margin-left: $spacer / 2; }
    }
  }

  .btn {
    display: inline-block;

    &.btn-link {
      color: $titlebar-btn-color;
    }

    i.aa-icon { font-size: $icon-size; }
  }

  .action-btns {
    display: flex;
    justify-content: flex-end;

    .dropdown-menu {
      right: 0;
      left: auto;
    }

    .action_item {
      position: relative;

      &:empty { display: none; }
    }
  }

  .breadcrumb_sep { font-weight: $font-weight-normal; }

  .action_item {
    .aa-icon + .action-text {
      margin-left: $spacer / 2;

      @include media-breakpoint-down(md) { display: none; }
    }
  }
}
