#title_bar {
  z-index: $zindex-titlebar;
  height: $navbar-height;
  color: color-yiq($titlebar-bg);
  background: linear-gradient(to bottom left, #{$titlebar-bg} , darken($titlebar-bg, $titlebar-bg-adjustment));
  background-color: $titlebar-bg;
  @include box-shadow($titlebar-shadow);

  @include media-breakpoint-up($header-breakpoint) {
    left: $header-width;
  }

  @include media-breakpoint-up(lg) {
    padding-right: 1.25 * $spacer !important;
    padding-left: 1.25 * $spacer !important;
  }

  #breadcrumbs {
    .dropdown-item a::before {
      @extend %nc-icon;
      margin-right: $spacer / 2;
      vertical-align: middle;
      content: $icon-breadcrumb-link;
    }
  }

  #titlebar-content { flex: 1; }

  #titlebar_right {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  .navbar-brand {
    width: 100%;

    .dropdown { width: 100%; }

    .dropdown-toggle {
      display: flex;
      align-items: center;
      flex-direction: row;
      width: 100%;

      i.nc-icon { margin-left: $spacer / 2; }
    }
  }

  .btn {
    display: inline-flex;

    &.btn-link {
      padding-right: 0;
      padding-left: 0;
      color: $titlebar-btn-color;
    }

    i.nc-icon { font-size: $icon-size; }
  }

  .action-btns {
    display: inline-flex;
    justify-content: flex-end;
    margin-left: $spacer;

    .dropdown-menu {
      right: 0;
      left: auto;
    }

    .action_item {
      position: relative;

      &:empty { display: none; }

      & + .action_item,
      & + .dropdown {
        margin-left: $spacer;
      }
    }
  }

  .action_item {
    .nc-icon + .action-text {
      margin-left: $spacer / 2;

      @include media-breakpoint-down(md) { display: none; }
    }
  }

  #mobile-menu {
    .dropdown-menu a {
      @extend .dropdown-item;
      .nc-icon { display: none; }
    }
  }
}
