@import 'meta/**/*';
@import 'icons/**/*';
@import 'bootstrap';
@import 'bootstrap-datepicker3';
@import 'select2';
@import 'select2-bootstrap';
@import 'jquery.minicolors';
@import 'dropzone/dropzone';
@import 'flag-icon';
@import 'utilities/**/*';
@import 'mixins/**/*';
@import 'components/**/*';
@import 'pages/**/*';

html {
  position: relative;
  width: 100%;
  height: 100%;
}
