$navbar-height: 56px;
$col-selectable-width: 30px;
$header-width: 340px;
$filter-width: 370px;
$sidebar-width: 370px;
$icon-size: 1.25rem;
$icon-size-sm: $font-size-base;
$checkbox-size: 18px;
$sidebar-bg: $body-bg;

// z-index
$z-index-custom-backdrop: 1040;
$z-index-aside: 11;
$z-index-header: 1080;
$z-index-select2: 2200;
$z-index-devise-warning: 99999;
$z-index-filter: 1090;
$z-index-flashes: 2000;

// Breakpoints
$header-breakpoint: xl;

// Icons
$icon-checkbox-checked: '\ebd2';
$icon-checkbox-intermediate: '\f0f2';
$icon-sort-desc: '\f1c8';
$icon-sort-asc: '\f1cf';
$icon-sortable: '\ed1e';
$icon-arrow-right: '\ef0f';
$icon-submenu: '\eef6';
$icon-breadcrumb-link: '\ec57';
