// Header
$header-width:      340px !default;
$header-bg:         $dark !default;
$header-gradient:   linear-gradient(to bottom left, $header-bg, darken($header-bg, 7%)) !default;
$header-logo-bg:    $primary !default;
$header-breakpoint: xl;

// Navbar
$navbar-height: 56px !default;

// TitleBar
$titlebar-bg:        $white !default;
$titlebar-btn-color: $primary !default;
$titlebar-shadow:    0 1px 0 0 rgba($dark, 0.1) !default;

// Filter
$filter-width:         370px !default;
$filter-header-bg:     $titlebar-bg !default;
$filter-header-shadow: $titlebar-shadow !default;

// Sidebar
$sidebar-width: 370px !default;
$sidebar-bg:    $body-bg !default;

// Table
$col-selectable-width: 30px !default;

// Thumbnail
$thumbnail-size:    36px !default;
$thumbnail-size-sm: 24px !default;

// Select2
$select2-min-height:   $input-height !default;

// Logged Out
$logged-out-logo-size:     64px !default;
$logged-out-body-bg:       $header-bg !default;
$logged-out-body-gradient: linear-gradient(to bottom left, $logged-out-body-bg, darken($logged-out-body-bg, 7%)) !default;

// Utilities
$checkbox-size:        18px !default;
$color-brick-size:     18px !default;
$sscript-font-size:    60% !default;
$spinner-size:         48px !default;
$card-shadow:          0 0 5px rgba($dark, 0.05) !default;
$backdrop-bg:          transparent !default;
$svg-color:            $text-muted !default;
$svg-color-adjustment: 33% !default;

// z-index
$zindex-aside:           11;
$zindex-float-help:      30;
$zindex-datepicker:      1100;
$zindex-custom-backdrop: 1040;
$zindex-filter:          1090;
$zindex-select2:         1055;
$zindex-titlebar:        1080;
$zindex-header:          2000;
$zindex-flashes:         2200;
$zindex-media-upload:    8000;
$zindex-loading:         9999;

// Icons
$icon-font:    'nucleo' !default;
$icon-path:    'cb_stem/nucleo' !default;
$icon-size:    1.25rem !default;
$icon-size-sm: $font-size-base !default;
$system-icons: (
  'checkbox-checked':      '\ea35',
  'checkbox-intermediate': '\ea36',
  'sort-desc':             '\ea2b',
  'sort-asc':              '\ea2a',
  'sortable':              '\ea34',
  'arrow-right':           '\ea2f',
  'arrow-left':            '\ea30',
  'select':                '\ea2d',
  'submenu':               '\ea2e',
  'menu':                  '\ea38',
  'menu-anchor':           '\ea1d',
  'search':                '\ea02',
  'add':                   '\ea3b',
  'edit':                  '\ea3c',
  'delete':                '\ea3d',
  'close':                 '\ea3a',
  'dropdown':              '\ea2c',
  'menu-dots':             '\ea29',
  'launch-site':           '\ea1b',
  'close-sidebar':         '\ea1c',
  'image':                 '\ea3f'
) !default;
