sub,
sup {
  position: relative;
  font-size: $sscript-font-size;
  line-height: 0;
  vertical-align: baseline;
}

sub { bottom: 0; }
* { outline: none; }

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
}
