<!DOCTYPE html>
<html>
<head>
  <title>Cb stem</title>
  <%= stylesheet_link_tag    "cb_stem/application", media: "all" %>
  <%= javascript_include_tag "cb_stem/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
