// sass-lint:disable force-attribute-nesting
.input-checkbox {
  display: inline;
  margin: 0;

  input[type='checkbox'] {
    & > label:not(.label) {
      display: flex;
      align-items: center;
    }

  }

  input {
    display: none;
  }

  input:indeterminate + .checkbox-icon::before {
    color: $white;
    background: $primary;
    border-color: $primary;
    content: map-get($system-icons, 'checkbox-intermediate');
  }

  input:checked + .checkbox-icon::before {
    color: $white;
    background: $primary;
    border-color: $primary;
    content: map-get($system-icons, 'checkbox-checked');
  }

  .checkbox-icon {
    position: relative;
    display: flex;
    align-items: center;
    vertical-align: middle;

    & + .checkbox-label {
      margin-left: $spacer / 2;
    }

    &::before {
      @extend %aa-icon;

      display: inline-flex;
      align-items: center;
      flex-shrink: 0;
      justify-content: center;
      width: $checkbox-size;
      height: $checkbox-size;
      font-size: 12px;
      font-weight: $font-weight-bold;
      background: $input-bg;
      border: 1px solid $input-border-color;
      border-radius: $border-radius;
      content: '';
    }

    span { margin-left: $spacer / 2; }
  }
}
