#header-backdrop {
  z-index: $zindex-header - 1;
}

#header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-header;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: $header-width;
  height: 100%;
  color: $white;
  background-color: $header-bg;
  background-image: $header-gradient;
  border-right: $hr-border-width solid $hr-border-color;
  @include transition(transform 0.2s linear);

  @include media-breakpoint-up($header-breakpoint) {
    @include transform(translateX(0) !important);
  }

  @include media-breakpoint-down(xs) {
    width: 100%;
    max-width: $header-width;
  }

  &:not(.show) {
    @include transform(translateX(-100%));

    & + #header-backdrop { display: none; }
  }

  & > *,
  hr {
    width: 100%;
  }

  .navbar {
    height: $navbar-height;
    border-bottom: $hr-border-width solid $hr-border-color;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    margin-right: 0;
    overflow: hidden;

    .logo {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      margin-right: $spacer;
      overflow: hidden;
      font-size: $font-size-base;
      color: $white;
      text-transform: uppercase;
      vertical-align: middle;
      background: $header-logo-bg;
      border-radius: $border-radius;

      img {
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        @include transform(translateX(-50%));
      }

      .placeholder {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: $header-logo-bg;
      }
    }

    .title-text {
      flex: 1;
      margin-right: $spacer / 2;
    }

    .btn { color: $secondary; }
  }

  #main-nav { flex: 1; }

  #main-menu {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: $navbar-padding-x;
    overflow-y: scroll;
  }

  .list-group {
    margin-bottom: $spacer / 2;

    .active {
      & > a,
      & > a:hover {
        color: $primary;
      }
    }

    a {
      display: flex;
      align-items: center;
      min-height: 40px;
      padding: $list-group-item-padding-y $list-group-item-padding-x;
      color: rgba($white, 0.5);
      text-decoration: none;

      &:hover {
        color: $white;
      }

      & > * {
        flex-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &::after {
        @extend %aa-icon;
        margin-left: $spacer / 2;
        content: map-get($system-icons, 'menu-anchor');
      }

      &.with-sub-menu::after {
        content: map-get($system-icons, 'submenu');
      }

      span.menu-text { flex: 1; }

      i {
        margin-right: $spacer;
        font-size: $icon-size;
      }
    }

    .list-group-item {
      padding: 0;
      overflow: hidden;
      background: rgba($white, 0.05);
      border: 0;
    }

    .sub-menu {
      border-top: 1px solid $hr-border-color;

      li:not(:last-child) a {
        border-bottom: 1px solid $hr-border-color;
      }

      a {
        padding-left: calc(#{$list-group-item-padding-x} + #{$icon-size} + #{$spacer});
      }
    }
  }
}
