.pagination {
  @extend .btn-group;
  justify-content: center;
  margin-bottom: $spacer;
  border-radius: 0;

  & > span {
    @extend .btn;
    @extend .btn-light;

    a { color: $body-color; }

    &.current {
      @extend .active;
      background-image: none;
    }
  }
}

.pagination_per_page {
  @extend .mb-3;
}
