body.admin_wrap_activeadmin_media_items,
body.admin_wrap_activeadmin_file_items {
  &.media-droppable {
    #drop-holder {
      display: block;
    }
  }

  #media-items-upload {
    z-index: $zindex-media-upload;
  }

  #drop-holder {
    position: fixed;
    top: $navbar-height;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background: rgba(theme-color-level('primary', $alert-bg-level), 0.3);
    border: 4px solid $primary;
  }

  #media-upload-popup {
    position: fixed;
    right: $spacer;
    bottom: $spacer;
    display: none;
    width: calc(100% - 2 * #{$spacer});
    max-width: $modal-sm;

    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }

    #media-upload-preview {
      max-height: 50vh;
      overflow-y: scroll;
    }

    &.active { display: block; }

    .file-preview {
      @extend %identifier;
      padding: $spacer;
      cursor: default;

      &.dz-success,
      &.dz-error {
        .progress { display: none; }
      }

      &.dz-success .success-msg { display: block; }

      & + .file-preview {
        border-top: 1px solid $hr-border-color;
      }

      .thumbnail {
        svg { height: 80%; }

        img[src] + svg {
          display: none;
        }
      }

      .progress {
        height: 4px;
        border-radius: $border-radius;
      }

      .success-msg { display: none; }
      .status-text { white-space: normal; }
    }
  }

  .table-item-identifier {
    .thumbnail svg { height: 32px; }
  }
}
