/*------------------------
	font icons
-------------------------*/

.nc-icon.nc-settings:before {
  content: "\ea02";
}

.nc-icon.nc-dashboard-29:before {
  content: "\ea03";
}

.nc-icon.nc-man-23:before {
  content: "\ea04";
}

.nc-icon.nc-minimal-down:before {
  content: "\ea05";
}

.nc-icon.nc-menu-right:before {
  content: "\ea06";
}

.nc-icon.nc-minimal-right:before {
  content: "\ea07";
}

.nc-icon.nc-corner-left-round:before {
  content: "\ea08";
}

.nc-icon.nc-single-content-02:before {
  content: "\ea09";
}

.nc-icon.nc-simple-add:before {
  content: "\ea0a";
}

.nc-icon.nc-trash-simple:before {
  content: "\ea0b";
}

.nc-icon.nc-pencil:before {
  content: "\ea0c";
}

.nc-icon.nc-edit-72:before {
  content: "\ea0d";
}

.nc-icon.nc-share:before {
  content: "\ea0e";
}

.nc-icon.nc-trash-round:before {
  content: "\ea0f";
}

.nc-icon.nc-edit-74:before {
  content: "\ea10";
}

.nc-icon.nc-menu-dots:before {
  content: "\ea11";
}

.nc-icon.nc-zoom-2:before {
  content: "\ea12";
}

.nc-icon.nc-launch-47:before {
  content: "\ea13";
}

.nc-icon.nc-check-2:before {
  content: "\ea14";
}

.nc-icon.nc-tail-down:before {
  content: "\ea15";
}

.nc-icon.nc-tail-up:before {
  content: "\ea16";
}

.nc-icon.nc-enlarge-vertical:before {
  content: "\ea17";
}

.nc-icon.nc-small-delete:before {
  content: "\ea18";
}

